.cardContainer {
    width: 100%;
    display: flex;
    padding: 16px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px dashed #D7DDE9;
}

.cardContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.taskTitle {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
}

.buttonTrash {
    cursor: url("../../assets/Cursors.svg"), auto;
}

.cardContainer:hover {
    cursor: url("../../assets/Cursors.svg"), auto;
    background: #F7F9FD;
    border: 1px solid transparent;
}

.checkbox {
    display: inline-block;
    vertical-align: middle;
}
.checkbox input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.checkbox label {
    position: relative;
    padding-left: 2em;
    display: inline-block;
}
.checkbox label::before {
    cursor: url("../../assets/Cursors.svg"), auto;
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 18px;
    width: 18px;
    margin-right: 0.5em;
    transition: all 0.2s ease;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    border-radius: 4px;
    border: 1px solid #0796D3;
}
.checkbox label::after {
    content: url('../../assets/check.svg');
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    color: #FFF;
    opacity: 0;
    transition: all 0.2s ease;
    width: 18px;
    height: 18px;
}

.checkbox label:focus::before, .checkbox label:hover::before {
    background: #A0DCF6;
}
.checkbox input:checked + label::before {
    background: #A0DCF6;
    border-color: #0796D3;
}
.checkbox input:checked + label::after {
    opacity: 1;
}