.header {
    width: 92%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 100x;
    padding: 24px 0px;
    border-bottom: 1px solid #D7DDE9;
}

.logoContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.headerTitle {
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.48px;
}

.headerDate {
    color: rgba(0, 0, 0, 0.54);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
}
